/**
 * Базовые стили для всего сайта
 */
body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}


/**
 * Другие стили
 */
.homer {
	margin-top: 100px;
	position: relative;
}
.homer-img {
	position: absolute;
	width: 500px;
	animation: homerAnim 3s infinite alternate;
}
.donut-img {
	position: absolute;
	left: 80px;
	top: 350px;
	width: 90px;
	animation: donutAnim 1s infinite alternate;
}

@keyframes donutAnim {
	from {
		transform: translateY(-10px);
	}
	to {
		transform: translateY(10px);
	}
}
@keyframes homerAnim {
	from {
		transform: translateY(-20px);
	}
	to {
		transform: translateY(20px);
	}
}
