body {
    font-size: Arial, sans-serif;
}
.header {
    padding: 15px 0;
}
.header__inner {
    display: flex;
    justify-content: space-between;
}
nav {
    
    background: #344051;
    color: rgba(131, 115, 115, 0.856);
}
.title__container{
    width: 100%;
    height: calc(100%);
    background:url(../img/Парень.png) 90% 100%/auto 85% no-repeat, url(../img/фон.jpg) center/cover no-repeat;
    margin: auto;
}
.main{
    color: #2c384a;
    text-align: calc(50%);
}
.about{
    background: url(../img/фотка.png);
    height: 200px;
}